.dokuwiki #plugin__captcha_wrapper img {
    margin: 1px;
    vertical-align: bottom;
    border: 1px solid __border__;
}

.dokuwiki #plugin__captcha_wrapper pre {
    font-size: 70%;
    font-family: monospace;
    font-weight: bold;
    border: none;
    background-color: __background__;
    color: __text__;
    padding: 0;
}

.dokuwiki #plugin__captcha_wrapper .no {
    display: none;
}